.pointer:hover{
    cursor: pointer;
    color: #037362
}

.searchnav{
    height: 100%;
    box-shadow: 0 2px 2px lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5%;
}

.searchbar{
    border: none;
    outline: none;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 114%;
    height: 90%;
    width: 90%;
    margin-left: 5%;
}
.noborder:focus{
    border: none;
    outline: none;
}