.learn-project{
    display: flex;
    flex-direction: column;
}

.padded {
    padding: 0 60px;
}

.learn-top{
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    margin-top: 60px;
    width: 100%;
}
.learn-top > h1 {
    font-family: "Cooper Light", Georgia, Times, "Times New Roman", serif;
    font-size: 48px;
    width: 47%;
    margin-bottom: 24px;
}

.learn-top > a {
    color: #ffffff;
    background-color: #009E74;
    width: fit-content;
    box-sizing: border-box;
    font: 15px "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    padding: 15px 30px;
}

.green {
    width: 100%;
    color: white;
    background-color: #034752;
}