.project-create-form{
    height: 100%;
    width: 100%;
}

.project-create-form > span {
    float: left;
    margin-left: 40px;
}

.project-create-form > header {
    margin: 0 auto;
    padding-top: 20px;
    width: 1250px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.create-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #F1EEEA;
}

.create-nav > h1{
    font: 24px 'Fredoka One', cursive;
    color: #034752;
    margin-right: 40%;
}

.project-create-form > header > p{
    padding-top: 5px;
}

.create-form{
    margin: 50px auto 0 auto;
    width: 625px;
    /* border-bottom: 1px solid #E8E8E8; */
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 119px;
}

.create-form > h1, .create-form > h2{
    margin: 0 auto;
    text-align: center;
}

.create-form > h1 {
    font-size: 28px;
    margin-bottom: 12px;
}

.create-form > h2 {
    font-size: 18px;
    margin-bottom: 36px;
    color: rgba(0,0,0,0.6);
    padding: 0 10px;
}

.create-form > form {
    width: 100%;
    align-self: center;
}

.start-form {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 52px;
    margin-bottom: 84px;
    border: 1px solid #F1EEEA;;
    background-color: white;
    font: inherit;
    color: rgba(0,0,0,0.6);
}

.categories {
    width: 100%;
    height: 52px;
    margin-bottom: 84px;
    border: none;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);    
    background-color: white;
    font: inherit;
    color: rgba(0,0,0,0.6);
}

.categories > option {
    margin-left: 15px;
}

.form-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-button {
    color: white;
    background-color: black;
    margin-top: 18px;
    padding: 15px;
    font-size: 14px;
}

.inactive{
    cursor: not-allowed;
    background-color: #D3D3D3;
}

.prev-button {
    color: #656969;
}

.create-form > form > input{
    width: 100%;
    height: 85px;
    margin-bottom: 30px;
}