.flex {
    display: flex;
}

.universal-footer{
    border-top: 1px solid #DCDEDD;
    border-bottom: 1px solid #DCDEDD;
    font: 14px "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    padding: 36px 60px;
}

.links > li{
    margin-right: 18px;
}