
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

a:visited{
    color: inherit;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 16px/1.5 "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
    height: 70px;
    border-bottom: 1px solid #E8E8E8;
}

.nav-main > h1{
    font-family: 'Fredoka One', cursive;
    color: #00CD69;
    text-align: center;
    margin: 0;
    align-self: center;
}

.nav-left, .nav-right{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    font-size: 14px;
    color: #656665;
}

.nav-left{
    padding-left: 24px;
}
.nav-right{
    padding-right: 24px;
}

.nav-link{
    margin-right: 12px;
}

.nav-link > img {
    height: 14px;
    margin-left: 4px;
}

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #656665;
  }
.dropdown > h1{
    font-size: inherit;
    width: fit-content;
    color: inherit;
  }

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid black;
    min-width: 918px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    right: -8px;
    top: 78px;
    padding: 43px;
  }

  .dropdown-menu > content {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin-bottom: 30px;
  }

  .dropdown-section > h2 {
    margin-bottom: 43px;
    color: black;
      
  }

  #space {
      margin-bottom: 43px;
  }

  .dropdown-menu > button {
      padding-top: 21.5px;
      background: none;
      border: none;
      text-align: left;
      border-top: 1px #F1EEEA solid;
      font-size: inherit;
      color: inherit;
      outline: none;
  }

  
 