.project-create-form{
    height: 100%;
    width: 100%;
}

.project-create-form > span {
    float: left;
    margin-left: 40px;
}

.create-form{
    margin: 50px auto 0 auto;
    width: 600px;
    border-bottom: 1px solid #E8E8E8;
}

.create-form > h1, .create-form > h2{
    margin: 0 auto;
    text-align: center;
}

.form-footer{
    display: flex;
    justify-content: space-between;
}

.next-button{
    background-color: black;
    color: white;
}

.create-form > form > textarea{
    width: 100%;
}