.session-form {
    background-color: #F7F7F6;
    height: 100%;
    padding: 60px 18px;
    font: 16px/1.5 "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.signup-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px #F1EEEA solid;
    border-radius: 2px;
    width: 400px;
    height: 100%;
    margin: 0 auto;
}

h3 {
    background-color: rgba(241,238,234,0.2);
    width: 100%;
    text-align: center;
    font: inherit;
    color: #3D3D66;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #F1EEEA;
}

.session-link{
    color: #2752ff;}
.session-link:visited{
    color: #2752ff;}

h1 {
    font: inherit;
    font-size: 28px;
    color: #282828;
    align-self: flex-start;
    width: 340px;
    margin-bottom: 10px;
}

.errors{
    background-color: red;
    color: white;
    list-style: none; 
    padding: 10px 20px;
}


.signup-frame > form {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    
    
}

.signup-input{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    height: 44px;
    margin: 10px 0;
    font-size: 14px;
    outline: none;
    border: 1px solid #DCDEDD;
    transition: border-color 100ms ease-in;
}

.signup-input:focus{
    border: 1px #009E74 solid;
    transition: border-color 100ms ease-in;
}

.checkbox{
    display: flex;
    padding:0;
    color: #282828;
    height: auto;
}

.checkbox > span {
    font-weight: 400;
    padding-left: 10px;
}


.submit-button{
    background-color: #009E74;
    width: 100%;
    color: #FFFFFF;
    height: 42px;
    font-size: 14px;
    margin-top: 26px;
    font-weight: 300;
}

.submit-section > p {
    font: inherit;
    color: #656969;
    font-size: 12px;
    height: 33px;
    margin-top: 12px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}


.grey-line{
    background:#F1EEEA;
    height: 1px;
    width: 100%;
}

.line > span{
    background: #FFFFFF;
    padding: 0 10px;
    font-size: 14px;
    color: #282828;
}

.login-footer-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 100px 0 50px 0;
}

.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #F1EEEA ;
    border-bottom: 1px solid #F1EEEA ;
    /* padding: 20px;
    margin-top: 100px; */
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #282828;

}

.login-footer > .session-link {
    margin-left: 2px; 
}

#demo{
    background-color: #39579A;
    width: 100%;
    color: #FFFFFF;
    height: 42px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo:hover{
    background-color: #344E86;
    transition: background-color 300ms ease-in;
    cursor: pointer;
}
.submit-button:hover{
    background-color: #037362;
    transition: background-color 300ms ease-in;
    cursor: pointer;
}
